# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# OS / editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
